<div class="container-bigCard">
    
    <div class="big-card-picture">
        <img src="../../../assets/TESTE DISC.png" 
        alt=""
        height="200px"
       
        srcset=""
        >
    </div>
    <div class="big-card-title">
        <h1><a href="#"> Nova Atualização Do Angular</a></h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet dignissimos iure debitis a iste quae, commodi repudiandae non vel magni, vero dolore temporibus dicta ullam facere voluptatem sed at!
        </p>
    </div>
    
   

</div>
