<div class="conteiner-small-card">

    <div class="small-card-content">

        <div class="small-card-picture">
            <img src="../../../assets/TESTE DISC.png" alt="" height="300px" width="400px">
        </div>
        <div class="small-card-Title">
            <h1><a href="#">Novas Features Angular Novas Features Angular Novas Features AngularNovas Features
                    AngularNovas Features Angular</a></h1>
        </div>

    </div>
    <div class="separetion">
        <hr>
    </div>
</div>
